<p-toast></p-toast>
<div class="admin-page">
    <p-card [header]="editmode ? 'Edit Product' : 'Add Product'" subheader="You can add or edit products here.">
        <div class="p-grid">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-right"></div>
                    <div class="p-toolbar-group-right">
                        <p-button 
                            styleClass="p-button-primary mr-2"
                            [label]="editmode ? 'Update' : 'Create'"
                            icon="pi pi-plus"
                            (click)="onSubmit()"
                            >
                        </p-button>
                        <p-button 
                            styleClass="p-button-secondary"
                            label="Cancel"
                            icon="pi pi-arrow-circle-left"
                            (click)="goBack()">
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <form [formGroup]="form">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                          <label for="name">Name</label>
                          <input formControlName="name" id="name" type="text" pInputText />
                          <small *ngIf="form.controls['name'].invalid && isSubmitted" class="p-error"
                            >Name is required</small
                          >
                        </div>
                        <div class="p-field p-col">
                          <label for="brand">Brand</label>
                          <input formControlName="brand" id="brand" type="text" pInputText />
                          <small *ngIf="form.controls['brand'].invalid && isSubmitted" class="p-error"
                            >Brand is required</small
                          >
                        </div>
                        <div class="p-field p-col">
                          <label for="price">Price</label>
                          <p-inputNumber formControlName="price" id="price" inputId="price" ></p-inputNumber>
                          <small *ngIf="form.controls['price'].invalid && isSubmitted" class="p-error"
                            >Price is required</small
                          >
                        </div>
                        <div class="p-field p-col-4">
                          <label for="countInStock">countInStock</label><br />
                          <p-inputNumber formControlName="countInStock" mode="decimal" [useGrouping]="false">
                          </p-inputNumber>
                          <small *ngIf="form.controls['countInStock'].invalid && isSubmitted" class="p-error"
                            >Count in stock is required</small
                          >
                        </div>
                        <div class="p-field p-col">
                          <label for="category">Category</label>
                          <select formControlName="category" class="form-control" id="category">
                            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                          </select>
                          <small *ngIf="form.controls['category'].invalid && isSubmitted" class="p-error">
                            Category is required</small>
                        </div>
                        <div class="isFeatured">
                          <label for="isFeatured">Featured</label>
                          <p-inputSwitch formControlName="isFeatured" id="isFeatured"></p-inputSwitch>
                        </div>
                      </div>
                      <div class="p-field p-col-12">
                        <label for="description">Description</label><br />
                        <textarea
                          pInputTextarea
                          formControlName="description"
                          [rows]="7"
                          [cols]="30"
                        ></textarea>
                        <small *ngIf="form.controls['description'].invalid && isSubmitted" class="p-error"
                          >Description is required</small
                        >
                      </div>
                      <div class="p-field p-col-12">
                        <label for="richDescription">Product Details</label><br />
                        <textarea
                          pInputTextarea
                          formControlName="richDescription"
                          [rows]="7"
                          [cols]="30"
                        ></textarea>
                      </div>
                      <div class="p-field p-col-12">
                        <label for="name">Main Image</label>
                        <input
                          type="file"
                          class="p-inputtext"
                          accept="image/*"
                          (change)="onImageUpload($event)"
                        />
                        <small *ngIf="form.controls['image'].invalid && isSubmitted" class="p-error"
                          >Image is required</small
                        >
                        <div class="p-col-2 p-mt-2 p-pl-0">
                          <img style="width: 100%" [src]="imageDisplay" alt="" />
                        </div>
                      </div>          
                </form>
            </div>
        </div>
    </p-card>
</div>